@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #363636;
    font-family:'DynaPuff', cursive;
    color: white;
    text-shadow: 1px 2px 2px black;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
}
h1{
    font-size: 50px;
}
#conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}
#area{
    background-color: seagreen;
    width: 550px;
    height: 390px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 15px;
    box-shadow: 1px 3px 3px 2px rgba(1, 1, 1, .5);
}
#opcNo:hover{
    color: red;
}
#opcyes:hover{
    color: blue;
}
.option{
    background-color: yellowgreen;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-size: 35px;
    border-radius: 15px;
    transition: all .5s;
    box-shadow: 1px 3px 3px 2px rgba(1, 1, 1, .5);
    cursor: pointer;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 50px;
    margin-top: 45px;
    transition: all .5s;
}